{% extends "layouts/page.html" %}

{% block title %}{{ title }}{% endblock %}

{% block page_id %}tag-tags-page{% endblock %}

{% block page_header_modifier %}{% endblock %}

{% block page_header %}
    <h1 class="page__title">{{ title }}</h1>
{% endblock %}

{% block page_body %}
    <ol class="cards-list page__cards-list">
        {% for question in questions %}
            <li class="cards-list__item">
                {% include "components/cards/question.html" with user=user question=question %}
            </li>
        {% endfor %}
    </ol>
{% endblock %}

{% block page_footer %}
    <div class="page__pagination">
        {% include "components/pagination.html" with page=page %}
    </div>
{% endblock %}
