{% extends "layouts/page.html" %}

{% block title %}{{ title }}{% endblock %}

{% block page_id %}ask-questions-page{% endblock %}

{% block page_header_modifier %}{% endblock %}

{% block page_header %}
    <h1 class="page__title">{{ title }}</h1>
{% endblock %}

{% block page_body %}
    <p class="page__error">
        Failed to create question. Please check the form and try again. If the problem persists, try again
        later.
    </p>

    <form
        id="ask-questions-form"
        class="form form--field-w_md page__form"
        method="post"
        action="{% url 'questions' %}"
    >
        <div class="form__row">
            <label class="form__label" for="ask-questions-form-title">
                Title<span class="form__asterisk">*</span>
            </label>
            <input
                id="ask-questions-form-title"
                class="form__field form__field--type_input"
                type="text"
                name="title"
                minlength="16"
                maxlength="256"
                required
                placeholder="How to build a moon park?"
            />
        </div>

        <div class="form__row">
            <label class="form__label form__label--pos_top" for="ask-questions-form-text">
                Text<span class="form__asterisk">*</span>
            </label>
            <textarea
                id="ask-questions-form-text"
                class="form__field form__field--type_textarea"
                name="text"
                minlength="32"
                maxlength="32000"
                required
                placeholder="Really, how?
Have no idea about it."
            ></textarea>
        </div>

        <div class="form__row">
            <label class="form__label" for="ask-questions-form-tags">
                Tags<span class="form__asterisk">*</span>
            </label>
            <input
                id="ask-questions-form-tags"
                class="form__field form__field--type_input"
                type="text"
                name="tags"
                minlength="1"
                maxlength="256"
                required
                placeholder="moon, park, puzzle"
            />
        </div>

        <button class="form__submit btn btn--color_white" type="submit">ASK</button>
    </form>
{% endblock %}

{% block page_footer %}{% endblock %}
