{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        <link rel="icon" href="{% static 'images/favicon.png' %}" />
        <link rel="stylesheet" href="{% static 'css/main.css' %}" />

        <title>{% block title %}/templates/main.html{% endblock %} · AskPupkin</title>
    </head>

    <body class="body">
        {% block body %}{% endblock %}
        
        {% block scripts %}{% endblock %}
    </body>
</html>
